.container {
  margin: 50px auto auto auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.scoreBoard {
  margin: 5px auto;
  padding: 5px;
  display: flex;
}
.score{
  border: 2px solid blue;
  margin: 5px;
  padding: 2px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 75px);
  margin: auto;
  grid-gap: 2px;
}

.element {
  border: 2px solid black; 
  height: 100px;
  background-color: darkgray;
}
